<a href="https://colab.research.google.com/github/Williamfohara/newRepo/blob/main/Week_4_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Module 2 Script

## Agenda

- Loading installed packages
- Inspect data
- Explore plot types 

Make sure you have downloaded tonight's script and data from Canvas.

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

We can pull sample data from 
- statsmodels.api

In [36]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl
import numpy as np

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

See the Canvas assignments and lectures for a description of the Megatelco data

**Note:** you will need to enter a code supplied by Google in the next step.

In [8]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/retail_dataset.csv')

print (df)

Mounted at /content/gdrive
      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

                 state_province  postal_code  order_id  order_date  \
0     DE                             19805.0      1001  2020-01-11
1     AL                             35810.0      1002  2019-11-22
2     CA                             92612.0      1003  2019-09-17
3     VA                             23293.0      1004  2019-12-09
4     VA                             23293.0      1005  2019-06-08
...                         ...          ...       ...         ...
9564  Pennsylvania                       NaN      8143  2021-06-13
9565  NY                             12210.0      8144  2021-06-16
9566  California                     94064.0      8145  2021-05-09
9567  Massachusetts                   2472.0      8146  2021-04-13
9568  Maryland                       20883.0      8147  2021-03-21

      customer_id.1  order_id.1  product_id  quantity  product_id.1  \
0                67        1001         106       3.0           106
1               201        1002         104       2.0           104
2                45        1003         107       5.0           107
3               106        1004         106       8.0           106
4               357        1005         107       7.0           107
...             ...         ...         ...       ...           ...
9564            637        8143         113      16.0           113
9565            370        8144         109       1.0           109
9566            598        8145         110       1.0           110
9567            737        8146         113       2.0           113
9568            482        8147         113       5.0           113

                product_name product_price total_amount order_year_month  \
0          Great value Juice         $1.99        $5.97          2020-01
1                       Desk        $85.98      $171.96          2019-11
2             Dove deodorant         $3.99       $19.95          2019-09
3          Great value Juice         $1.99       $15.92          2019-12
4             Dove deodorant         $3.99       $27.93          2019-06
...                      ...           ...          ...              ...
9564          Extension cord        $15.59      $249.44          2021-06
9565  Samsung Galaxy Note 10       $749.99      $749.99          2021-06
9566         Apple iPad Mini       $329.99      $329.99          2021-05
9567          Extension cord        $15.59       $31.18          2021-04
9568          Extension cord        $15.59       $77.95          2021-03

     order_month
0      January
1      November
2      September
3      December
4      June
...          ...
9564   June
9565   June
9566   May
9567   April
9568   March

[9569 rows x 18 columns]

Convert the Total_Amount into a number (not a string)

In [24]:
df = pd.read_csv(r'/content/gdrive/MyDrive/Colab Notebooks/retail_dataset.csv')
df['total_amount'] = df['total_amount'].str.replace('$', '')
df['total_amount'] = df['total_amount'].str.replace(',', '')
df['total_amount'] = df['total_amount'].astype(float)
df.to_csv('cleaned_file.csv', index=False)
df.head(10)

<ipython-input-24-e95d6d1ae248>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['total_amount'] = df['total_amount'].str.replace('$', '')

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,27.93,2019-06,June
5,351,Glenn Reville,3 Springview Drive,Dallas,TX,75277.0,1006,2020-02-18,351,1006,106,4.0,106,Great value Juice,$1.99,7.96,2020-02,February
6,233,Cosette Berkowitz,7619 Susan Lane,South Bend,IN,46634.0,1007,2019-10-25,233,1007,105,2.0,105,Office Chair,$55.99,111.98,2019-10,October
7,121,Nisse Cunniam,0 Dennis Pass,Lincoln,NE,68531.0,1008,2019-11-10,121,1008,101,1.0,101,Dell E5470 Laptop,$485.00,485.00,2019-11,November
8,232,Yank Eayrs,8176 Lawn Drive,Washington,DC,20575.0,1009,2019-09-27,232,1009,110,1.0,110,Apple iPad Mini,$329.99,329.99,2019-09,September
9,113,Jamesy Brothwood,0693 Evergreen Pass,Scranton,PA,18514.0,1010,2019-09-02,113,1010,108,1.0,108,Printer,$59.99,59.99,2019-09,September

Remove rows with empty (NULL) values

In [40]:
exceptions = ["address_line_1", "city", "state_province	", "postal_code"]
df = df.dropna(subset=set(df.columns) - set(exceptions))
df.head(9564)

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,$5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,$171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,$19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,$15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,$27.93,2019-06,June
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9561,240,Barnard Hatley,5541 Kim Alley,Duluth,GA,30195.0,8140,2021-03-04,240,8140,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2021-03,March
9565,370,Darby Tesseyman,7468 Jackson Circle,Albany,NY,12210.0,8144,2021-06-16,370,8144,109,1.0,109,Samsung Galaxy Note 10,$749.99,$749.99,2021-06,June
9566,598,Henka De Ferrari,89 Sunnyside Drive,Redwood City,California,94064.0,8145,2021-05-09,598,8145,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2021-05,May
9567,737,Tommie Penvarne,9630 Washington Hill,Watertown,Massachusetts,2472.0,8146,2021-04-13,737,8146,113,2.0,113,Extension cord,$15.59,$31.18,2021-04,April
9568,482,Matelda Bull,6406 Bultman Alley,Gaithersburg,Maryland,20883.0,8147,2021-03-21,482,8147,113,5.0,113,Extension cord,$15.59,$77.95,2021-03,March

Locate outliers in any of the variables. Filter them out if they are mistakes, keep them if they are exceptional cases.

In [38]:
# Calculate the Z-score of each value in the dataframe
z = np.abs(df - df.mean()) / df.std()

# Identify rows with Z-scores greater than 3 (outliers)
outliers = df[(z > 3).any(axis=1)]

# Print the outliers
print(outliers)

      customer_id      customer_name         address_line_1         city  \
5736          430       Tilda Farmar      61 Jackson Avenue     Savannah
5776          438  Evangelin Piddock     4 Caliangt Parkway    Riverside
5795          676        Koo Arondel      4 Ridge Oak Alley     Hartford
5800          421     Benedict Shute  5058 Longview Terrace     Brockton
5836          774         Kenton Rew       30 Mandrake Hill      Seattle
...           ...                ...                    ...          ...
9432          420   Isabeau Brearley      4 Loomis Junction      Trenton
9451           26      Anthea Cripin   8699 Garrison Center  Jersey City
9481           45    Willetta Lumley      41 Ridgeway Alley       Irvine
9485          175  Evangeline Siggee          079 Mesta Way      El Paso
9512           36       Lindsy Denty        4020 Dexter Way  Hyattsville

                 state_province  postal_code  order_id  order_date  \
5736  Georgia                        31422.0      6058  2019-05-21
5776  California                     92505.0      6104  2019-12-25
5795  Connecticut                     6140.0      6124  2019-11-18
5800  Massachusetts                   2405.0      6130  2019-04-03
5836  Washington                     98175.0      6168  2020-02-16
...                         ...          ...       ...         ...
9432  New Jersey                      8638.0      8005  2019-09-25
9451  NJ                              7310.0      8024  2019-10-24
9481  CA                             92612.0      8056  2021-05-30
9485  TX                             79950.0      8060  2021-01-18
9512  MD                             20784.0      8087  2021-02-28

      customer_id.1  order_id.1  product_id  quantity  product_id.1  \
5736            430        6058         106      20.0           106
5776            438        6104         107      19.0           107
5795            676        6124         106      18.0           106
5800            421        6130         107      20.0           107
5836            774        6168         106      20.0           106
...             ...         ...         ...       ...           ...
9432            420        8005         112      17.0           112
9451             26        8024         111      18.0           111
9481             45        8056         113      19.0           113
9485            175        8060         111      17.0           111
9512             36        8087         113      19.0           113

                product_name product_price total_amount order_year_month  \
5736       Great value Juice         $1.99       $39.80          2019-05
5776          Dove deodorant         $3.99       $75.81          2019-12
5795       Great value Juice         $1.99       $35.82          2019-11
5800          Dove deodorant         $3.99       $79.80          2019-04
5836       Great value Juice         $1.99       $39.80          2020-02
...                      ...           ...          ...              ...
9432  White print/copy paper         $4.99       $84.83          2019-09
9451   Printer Ink Cartridge        $39.99      $719.82          2019-10
9481          Extension cord        $15.59      $296.21          2021-05
9485   Printer Ink Cartridge        $39.99      $679.83          2021-01
9512          Extension cord        $15.59      $296.21          2021-02

     order_month
5736   May
5776   December
5795   November
5800   April
5836   February
...          ...
9432   September
9451   October
9481   May
9485   January
9512   February

[286 rows x 18 columns]

<ipython-input-38-2d6c42c10530>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  z = np.abs(df - df.mean()) / df.std()

How many customers have full contact info? (Full address and name)